{% extends 'base.html' %}

{% block title %}Edit Relation - Settings - Ecclesia{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'web:dashboard' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'web:essentials' %}">Settings</a></li>
<li class="breadcrumb-item active">Edit Relation</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-white py-3">
                    <h5 class="mb-0">Edit Relation</h5>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label class="form-label">Relation Name</label>
                            <input type="text" name="name" class="form-control" value="{{ relation.name }}" required>
                        </div>
                        
                        <div class="text-end">
                            <a href="{% url 'web:essentials' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-primary">Update Relation</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 